replicaCount: 2

image:
  repository: ghcr.io/AlfredDev/alfred
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  hosts:
    - host: staging.alfred.dev
      paths:
        - /

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
 
# Monitoring
monitoring:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 30s
    scrapeTimeout: 10s
    labels: {}
